version: '2'
services:
  ui:
    build: ./liferay-ui
    environment:
      - NODE_ENV=production
      - MY_APP_REACT_SITE=
      - MY_APP_SITE_SECRET=
      - MY_APP_API_KEY=
      - MY_APP_API_URL=http://localhost:8080/api/v1
    ports:
      - '80:80'
    depends_on:
      - api
  api:
    build: ./api
    ports:
      - '8080:8080'
    depends_on:
      - mongo
  mongo:
    image: mongo
    ports:
      - '27017:27017'
