version: '2'
services:
  ui:
    build: ./liferay-ui
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - MY_APP_REACT_SITE=$REACT_APP_SITE_KEY
      - MY_APP_SITE_SECRET=$SITE_SECRET
      - MY_APP_API_KEY=$token
      - MY_APP_API_URL=http://localhost:8080/api/v1
    ports:
      - '80:80'
    depends_on:
      - api
  api:
    build: ./api
    restart: unless-stopped
    ports:
      - '8080:8080'
    env_file: .env
    environment:
      - REACT_APP_SITE_KEY=$REACT_APP_SITE_KEY
      - SITE_SECRET=$SITE_SECRET
      - token=$token
    depends_on:
      - mongo
    networks:
      - app-network
  mongo:
    image: mongo
    restart: unless-stopped
    ports:
      - '27017:27017'
    volumes:     
      - dbdata:/data/db
    networks:
      - app-network
networks:
  app-network:
    driver: bridge

volumes:
  dbdata:  
