version: '2'
services:
  ui:
    build: ./liferay-ui
    environment:
      - NODE_ENV=production
      - MY_APP_REACT_SITE=6LeH04YqAAAAAO55tXLg4GabiuVUm99HiUvHxNJJ
      - MY_APP_SITE_SECRET=6LeH04YqAAAAAEoj46UIuVLAp9mT7xSq26Ng61t2
      - MY_APP_API_KEY=2058e5972c60bbb97f9654f30e0897b3-4dec5395-6111-4135-ad36-f0892bf06b79
      - MY_APP_API_URL=http://localhost:8080/api/v1
    ports:
      - '80:80'
    depends_on:
      - api
  api:
    build: ./api
    ports:
      - '8080:8080'
    depends_on:
      - mongo
  mongo:
    image: mongo
    ports:
      - '27017:27017'
